---
layout: default
---

<div class="profile">
	{% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
	<h4>{{ site.author_name }}</h4>
	<ul>
		{% if site.twitter_url != '' %}<li><a href="{{ site.twitter_url }}" class="smallsocialbutton twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
		{% if site.facebook_url != '' %}<li><a href="{{ site.facebook_url }}" class="smallsocialbutton facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>{% endif %}
		{% if site.github_url != '' %}<li><a href="{{ site.github_url }}" class="smallsocialbutton github" target="_blank"><i class="fa fa-github"></i></a></li>{% endif %}
		{% if site.instagram_url != '' %}<li><a href="{{ site.instagram_url }}" class="smallsocialbutton instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>{% endif %}
		<li><a href="{{ site.baseurl }}/feed.xml" class="smallsocialbutton rss" target="_blank"><i class="fa fa-rss"></i></a></li>
	</ul>
	<p>{{ site.author_bio }}</p>
	<hr>
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
	 #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	 /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
      <form action="//Garin.us13.list-manage.com/subscribe/post?u=8c16e57e815e1045396a97b7e&amp;id=6dfc3da308" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
	            <label for="mce-EMAIL">Subscribe</label>
	            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c16e57e815e1045396a97b7e_6dfc3da308" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
  </div>

  <!--End mc_embed_signup-->
</div>

<section class="posts postindex wrapper">

	{% for post in paginator.posts %}
	<article class="post {% if post.featured == true %} featured {% endif %}">
		<header>
			<div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
			<h2>
				{% for category in post.categories %}
					{{ category }} 
				{% endfor %}
			</h2>
			<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
			<span>
				Posted on <i class="fa fa-clock-o"></i><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time>.
			</span>
			<div class="excerpt">
				{% if post.content contains '<!--more-->' %}
					{{ post.content | split:'<!--more-->' | first }}
				{% else %}
					{{ post.content }}
				{% endif %}
			</div>
		</header>
	</article>
	{% endfor %}

	{% include pagination.html %}

</section>
